/*The Container*/

.Container2
{
    display: flex;
    width: 75%;
    height: 350px;
    margin: 0 auto;
}

.Information
{
  float: left;
  padding: 60px;
  color: white;
  font-size: 20px;
  width: 60%;
  margin-top: 40px;
}
.InputCard
{
  float: right;
  width: 40%;
  background-color: white;
  margin: 40px;
  margin-top: 50px;
  height: 460px;
  overflow: visible;
  box-shadow: 0 3px 10px rgba(0,0,0,0.7);
  z-index: 100;
}

/*Input Card*/
.InputCard h1
{
    padding:50px;
    color: rgb(4, 4, 245,0.7);
}
input
{
    width: 80%;
    border: none;
    font-size: 17px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
    border-bottom: solid 2px rgb(4, 4, 245,0.7);
}

/*Media Query*/

@media (max-width: 780px)
{
    
    .Container2
    {
        display: grid;
        height: 450px;
        width: 100%;
    }
    .Information
    {
        width: 100%;
        margin: 0 auto;
    }
    .InputCard
    {
        margin: 0 auto;
        width: 85%;
    }
}
